<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
       <%= link_to "actgram", root_path %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <!--%= link_to "Home", root_path %-->
             <li><%= link_to "Help", help_path %></li>
            <% if signed_in? %>
              <!--下にドロップダウンメニューを追加してほしい　なんとなくbootstrapのidやclassを指定していますが無視してください-->
              <li id="fat-menu" class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    user.email <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "Settings", edit_user_registration_path %></li>
                    
                    <li>
                      <%= link_to "Sign out", destroy_user_session_path, method: "delete" %>
                    </li>
                  </ul>
              </li>
            <% else %>
              <li><%= link_to "Sign in", new_user_session_path %></li>
            <% end %> 
          </ul>
        </nav>
    </div>
</header>